<style>
  .point {
    padding: 4px;
  }
  .point:hover {
    background-color: #c0ffee;
  }
  img {
    max-width: 100%;
    max-height: 90vh;
  }
</style>
<button onclick="savePoints()">Save</button>
<br />
<label>location</label>
<input id="location" onkeyup="checkKey(event)" />
<label>start time</label>
<input id="startTime" type="datetime-local" />
<label>end time</label>
<input id="endTime" type="datetime-local" />
<button onclick="addPoint()">
  Add
</button>
<div id="points"></div>
<script>
  async function savePoints() {
    let res = await fetch('/trip', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ points }),
    });
    console.log('save points result:', res);
    let json = await res.json();
    console.log('json data:', json);
    for (let { point_id, num } of json) {
      // let point = points[num - 1];
      let point = points.find(point => point.num == num);
      let formData = new FormData();
      formData.set('point_id', point_id);
      for (let file of point.files) {
        formData.append('files', file);
      }
      res = await fetch('/point/files', {
        method: 'POST',
        body: formData,
      });
      console.log('upload files result:', res);
      json = await res.json();
      console.log('files json:', json);
      let filesDiv = point.div.querySelector('.files');
      for (let file of json) {
        let img = document.createElement('img');
        img.src = 'uploads/' + file.filename;
        filesDiv.appendChild(img);
      }
    }
  }
  function checkKey(event) {
    if (event.key == 'Enter') {
      addPoint();
    }
  }
  let pointsDiv = document.getElementById('points');
  let locationInput = document.getElementById('location');
  let startTimeInput = document.getElementById('startTime');
  let endTimeInput = document.getElementById('endTime');
  let points = [];
  function addPoint() {
    let div = document.createElement('div');
    let num = points.length + 1;
    let files = [];
    let point = {
      num,
      location: locationInput.value,
      startTime: startTimeInput.value,
      endTime: endTimeInput.value,
      div,
      files,
    };
    points.push(point);
    locationInput.value = '';
    startTimeInput.value = '';
    endTimeInput.value = '';
    div.classList.add('point');
    div.innerHTML = `
    <span class="num">${point.num}</span>: 
    ${point.startTime} - ${point.endTime} @ ${point.location}
    <span class="memoStatus"></span>
    <br>
    <div class="detail">
      <textarea class="memo"></textarea>
      <br>
      <div class="files"></div>
      <br>
      <input class="file" type="file" multiple>
      <br>
      <button class="close">Close</button>
      <button class="del-point">Remove</button>
    </div>
    `;
    point.numSpan = div.querySelector('.num');
    let closeButton = div.querySelector('.close');
    let delButton = div.querySelector('.del-point');
    let detailDiv = div.querySelector('.detail');
    let memoTextArea = div.querySelector('.memo');
    let memoStatusDiv = div.querySelector('.memoStatus');
    let fileInput = div.querySelector('.file');
    let filesDiv = div.querySelector('.files');

    delButton.addEventListener('click', () => delPoint(point));

    detailDiv.style.display = 'none';
    div.addEventListener('click', event => {
      detailDiv.style.display = 'unset';
    });
    closeButton.addEventListener('click', event => {
      event.stopPropagation();
      detailDiv.style.display = 'none';
    });

    memoTextArea.addEventListener('input', () => {
      point.memo = memoTextArea.value;
      memoStatusDiv.textContent = point.memo ? 'has memo' : '';
    });

    fileInput.addEventListener('change', () => {
      for (let i = 0; i < fileInput.files.length; i++) {
        let file = fileInput.files.item(i);
        console.log(file);
        files.push(file);

        let fileDiv = document.createElement('div');
        fileDiv.innerHTML = `
        <button class="del-file">X</button>
        ${file.name}
        `;
        let delButton = fileDiv.querySelector('.del-file');
        function delFile() {
          let idx = files.indexOf(file);
          files.splice(idx, 1);
          fileDiv.remove();
        }
        delButton.addEventListener('click', delFile);
        filesDiv.appendChild(fileDiv);
      }
    });

    pointsDiv.appendChild(div);
  }
  function delPoint(point) {
    let idx = point.num - 1;
    points.splice(idx, 1);
    point.div.remove();
    for (let i = idx; i < points.length; i++) {
      let point = points[i];
      point.num = i + 1;
      point.numSpan.textContent = point.num;
    }
  }
</script>
